.loader {
  display: inline-block;
  color: var(--theme-focused-foreground);
  text-shadow: 0 0 6px var(--theme-focused-foreground);
  font-family: var(--font-family-mono);
  font-size: var(--font-size);
  line-height: 1;
}
